#parrafo{
    background-color: red;
    /* color: red; si lo dejo asi no me pone el color de .color_letra */
}

.color_letra{
    color: blue;

}

.tipo_letra{
    font-style: italic;
    font-size: x-large;
}

.posicion_letra{
    text-align: center;
}

.tamaño_inline{
    font-size: xx-large;
}