<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{nombre_pagina}}</title>
</head>
<body>
    <style>
        div{
            position: relative;
            width: 70px;
            height: 70px;
            background-color: aqua;
            border: solid 2px orangered;
        }
    </style>
    <h1>{{nombre_pagina}}</h1>
    <p>
        Este tipo de posicionamiento hace que cada div se ubique con relación al elemento previo
        relativo por línea de código con relación a su vértice inferior izquierdo. A primera vista
        puede parecer igual a “static” pero no lo es. La maquetación con “Bootstrap” el cual es un
        framework de frontend” o sea un grupo de archivos de estilos, fuentes y javaScript que
        nos permiten realizar la maquetación de forma más simple esta realizada con este tipo de
        posicionamiento.
        <br>
        Algo muy importante es que las animaciones que podamos realizar con jQuery muchas
        veces deben realizarse dentro de una caja con tipo de posicionamiento absoluto o relativo
        para que funcionen.
    </p>
    <div>div 1</div>
    <div>div 2</div>
</body>
</html>