<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{nombre_pagina}}</title>
</head>
<body>
    <style>
        div{
            position: static;
            width: 70px;
            height: 70px;
            background-color: aqua;
            border: solid 2px orangered;
        }
    </style>
    <h1>{{nombre_pagina}}</h1>
    <h3>position: static;</h3>
    <p>Es el valor predeterminado. Los elementos se colocan según el flujo normal del html
        respetando los espaciados.</p>
    <div>div 1</div>
    <div>div 2</div>
</body>
</html>