<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{nombre_pagina}}</title>
</head>
<body>
    <style>
        div{
            float: left;
            width: 70px;
            height: 70px;
            background-color: rgb(54, 80, 228);
            border: solid 2px rgb(241, 39, 241);
        }
    </style>
    <h1>{{nombre_pagina}}</h1>
    <p>
        El posicionamiento float toma dos valores posibles, “left” (izquierdo) o “right” (derecho),
        cuando tenemos este tipo de posicionamiento, todos los elementos con este valor de
        atributo flotan en la dirección indicada, es decir que si tiene posicionamiento "float:left"
        comenzaran a ordenarse desde la izquierda uno tras otro mientras le quede espacio en la
        pantalla y si no seguirán abajo. Al variar el tamaño de la pantalla se reacomodan
        automáticamente. Para que se dejen de comportar de esta manera se utiliza el atributo
        “clear” que puede tomar los valores “left", "right" o "both".
    </p>
    
    <div>div 1</div>
    <div>div 2</div>
    <div>div 3</div>
    <div>div 4</div>
    <div>div 5</div>
    <div>div 6</div>
    <div>div 7</div>
    <div>div 8</div>
    <div>div 9</div>
    <div>div 10</div>
</body>
</html>